<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionName="2.11"
    android:versionCode="6">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Pocketbooks.Splash">
        <activity
            android:name="AccountsActivity"
            android:exported="true"
            android:theme="@style/Theme.Pocketbooks.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="NewAccountActivity"
            android:theme="@style/Theme.Pocketbooks.DayNight" />
        <activity
            android:name="TransactionsActivity"
            android:theme="@style/Theme.Pocketbooks.DayNight" />
        <activity
            android:name="NewTransactionActivity"
            android:theme="@style/Theme.Pocketbooks.DayNight"
            android:windowSoftInputMode="stateVisible|adjustPan" />

        <!-- The application's publisher ID assigned by AdMob -->

        <!-- AdMobActivity definition -->
        <!-- <activity android:name="com.admob.android.ads.AdMobActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboard|keyboardHidden" />
         -->
        <!-- Track Market installs -->
        <!--
		<receiver android:name="com.admob.android.ads.analytics.InstallReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
        -->

    </application>

    <!-- AdMob SDK requires Internet permission -->
    <!--
	<uses-permission android:name="android.permission.INTERNET" />
    -->
</manifest>