<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.pocketbooks" android:versionName="1.01" android:versionCode="2">

    <application android:label="@string/app_name" android:theme="@style/DayTheme"
        android:icon="@drawable/ic_action_name">
        <activity android:name="AccountsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="NewAccountActivity" />
        <activity android:name="TransactionsActivity" />
        <activity
            android:name="NewTransactionActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        
        <!-- The application's publisher ID assigned by AdMob -->

		<!-- AdMobActivity definition -->
		<!-- <activity android:name="com.admob.android.ads.AdMobActivity"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="orientation|keyboard|keyboardHidden" />
         -->
		<!-- Track Market installs -->
        <!--
		<receiver android:name="com.admob.android.ads.analytics.InstallReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
        -->

    </application>
    
    <!-- AdMob SDK requires Internet permission -->
    <!--
	<uses-permission android:name="android.permission.INTERNET" />
    -->
</manifest>